<h1 mat-dialog-title>Backend Configuration</h1>
<div mat-dialog-content>
  <p>Please update the backend urls for both Python and Nodejs</p>
  <div>
    <mat-form-field>
        <mat-label>Python Url :</mat-label>
        <input matInput [(ngModel)]="data.python" >
        <mat-hint align="start"><strong>please include /python after domain</strong> </mat-hint>
      </mat-form-field>
      <br>
      <mat-form-field>
        <mat-label>Nodejs Url :</mat-label>
        <input matInput [(ngModel)]="data.nodejs">
        <mat-hint align="start"><strong>please include /nodejs after domain</strong> </mat-hint>
      </mat-form-field>
  </div>
  
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">No Thanks</button>
  <button mat-button [mat-dialog-close]="data" cdkFocusInitial>Ok</button>
</div>